<header class="">
  <h1
    class="bg-cyan-500 py-10 text-7xl text-white text-bold text-center"
  >{{title}}</h1>
  <div class="header-link bg-cyan-900 text-center py-5">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/Help">Help</a>
  </div>
</header>